    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1606503153255-59d8b8b82176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
      <div class="container">
        <h1>Rent board games with <strong>AluGames</strong>!</h1>
        <p>Planning to play boardgames with your friends this week? At AluGames you can rent a game very easily.</p>
        <div class="col rounded-pill">
          <form class="form-inline">
            <div class="input-group w-100 group-active-shadow">
              <div class="input-group-prepend">
                <span class="input-group-text shadow" id="basic-addon1"><i class="fas fa-search"></i></span>
              </div>
              <%= form_tag("/games", method: "get") do %>
              <% text_field_tag :query,
                    params[:query],
                    class: "form-control shadow d-none",
                    id: "search-bar",
                    placeholder: "What to play?"
                  %>
              <% end %>
              <form accept-charset="UTF-8" action="/games" method="get" class="form-buggado-demais">
                <input name="query" type="text" class="form-control shadow w-100" id="search-bar"
                  placeholder="What to play?" />
                <input name="commit" type="submit" value="Search" class="d-none" />
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="card-container1">
            <% @games.first(3).each do |game| %>
            <div class="card m-4" style="width: 18rem; height:30%">
              <%if game.photo.present? %>
              <%= cl_image_tag game.photo.key, class: "card-img-top default-img", crop: :fill %>
              <% else %>
              <%= image_tag 'game.jpg', class: "card-img-top default-img"%>
              <% end%>
              <div class="card-body shadow">
                <h5 class="card-title"><%= game.name %></h5>
                <p class="card-category"><%= game.category %></p>
                <p class="card-description"><%= game.description %></p>
                <div class="d-flex justify-content-between">
                  <p class="card-price">R$<%= game.price %>,00</p>
                  <p class="card-players">Jogadores: <%= game.number_of_players %></p>
                </div>
                <p>
                  <%= link_to 'Show', game, class: "btn d-flex justify-content-center mx-5 mt-2 rounded-pill btn-show link-btn btn-menu shadow" %>
                </p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-container1">
            <% @games.last(3).each do |game| %>
            <div class="card m-4" style="width: 18rem; height:30%">
              <%if game.photo.present? %>
              <%= cl_image_tag game.photo.key, class: "card-img-top default-img", crop: :fill %>
              <% else %>
              <%= image_tag 'game.jpg', class: "card-img-top default-img"%>
              <% end%>
              <div class="card-body shadow">
                <h5 class="card-title"><%= game.name %></h5>
                <p class="card-category"><%= game.category %></p>
                <p class="card-description"><%= game.description %></p>
                <div class="d-flex justify-content-between">
                  <p class="card-price">R$<%= game.price %>,00</p>
                  <p class="card-players">Jogadores: <%= game.number_of_players %></p>
                </div>
                <p>
                  <%= link_to 'Show', game, class: "btn d-flex justify-content-center mx-5 mt-2 rounded-pill btn-show link-btn btn-menu shadow" %>
                </p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
