<div class="show-container-box ">
  <div class="both-content "=>
    <div class="fundo-img d-flex justify-content-center">
      <%if @game.photo.present? %>
      <%= cl_image_tag @game.photo.key, class: "card-img-top default-img-show", crop: :fill %>
      <% else %>
      <%= image_tag 'game.jpg', class: "card-img-top default-img-show"%>
      <% end%>
    </div>
    <div class="card-text-content mx-3 ">
        <h5 class="card-title text-center"><%=@game.name.upcase%></h5>
        <p class="card-price ">Price: R$<strong><%= @game.price %></strong> a day</p>
        <p class="card-available align-self-start">
          <%if @game.available%>
            <p>Available to rent <i class="far fa-laugh-beam" style="color:green"></i></p>
          <%else%>
            <p>Not available to rent <i class="far fa-frown" style="color:red"></i></p>
          <%end%>
        </p>
        <p class="card-text text-break text-start">Description: <%= @game.description %></p>
        <div class="btns d-flex justify-content-center">
          <% if user_signed_in? && @game.user != current_user%>
              <button type="button" class="btn btn-basic btn-link-show rounded-pill " data-toggle="modal" data-target="#exampleModal"> Rent</button>
              <p class="btn btn-basic mx-4 rounded-pill"><%= link_to 'Back', games_path, class: "btn-link-show" %></p>
            <%elsif%>
              <% if @game.user == current_user %>
                <p class="btn btn-basic rounded-pill "><%= link_to 'Back', games_path, class: "btn-link-show" %></p>
                <p class="btn btn-basic rounded-pill mx-4"><%= link_to 'Edit', edit_game_path(@game), class: "btn-link-show" %></p>
                <p class="btn btn-destroy rounded-pill"><%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-link-show" %></p>
              <%end%>
            <%else%>
              <button type="button" class="btn btn-basic btn-link-show rounded-pill mr-4" data-toggle="modal" data-target="#exampleModal"> Rent</button>
              <p class="btn btn-basic rounded-pill"><%= link_to 'Back', games_path, class: "btn-link-show" %></p>
            <%end%>
        </div>
        <p class="card-text-hour small text-muted mt-4">Last updated <%= @game.updated_at %></small></p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select date range</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <% if current_user %>
          <%= simple_form_for [ @game, @rent ] do |f| %>
            <%=f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}%>
        <div class="modal-footer">
          <button type="button" class="btn btn-destroy" data-dismiss="modal">Cancel</button>
          <%= f.submit "Rent", class: "btn btn-basic"%>
          <% end %>
        <%else%>
          <p class="warning-msg"><i class="fas fa-exclamation-triangle fa-blink"></i> You must login to rent this game!</p>
        <%end%>
      </div>
      </div>
    </div>
  </div>
</div>
